.lobby-container {
	display: grid;
	grid-template-areas:
		"avatar avatar players"
		"avatar avatar players"
		"avatar avatar players"
		"avatar avatar waiting";

	justify-items: center;
}

.AvatarSelection {
	grid-area: avatar;
	height: 100%;
}

.PlayerLobbyList {
	grid-area: players;
	height: 100%;
	width: 100%;
}

.WaitingRoom {
	grid-area: waiting;
	height: 100%;
}


