.lobby-container {
	display: grid;
	grid-template-areas:
		"avatar avatar players"
		"avatar avatar players"
		"avatar avatar players"
		"avatar avatar waiting";

	justify-items: center;
}

.AvatarSelection {
	grid-area: avatar;
	height: 100%;
}

.PlayerLobbyList {
	grid-area: players;
	height: 100%;
	width: 100%;
}

.WaitingRoom {
	grid-area: waiting;
	height: 100%;
}

body {
	background-image: url("https://i.pinimg.com/originals/a5/29/f5/a529f594aab155e3de451e5c5b0f3e45.jpg");
	background-color: #024f19;
	background-repeat: no-repeat;
	background-size: cover;
}
