$backWidth = 512px; 
$backHeight = 432px;
$bushesWidth = 508px; 
$bushesHeight = 79px;
$groundWidth = 68px; 
$groundHeight = 22px;

body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

body {
  height: 100% !important;
    background-image:
    url('../../img/ground.png')!important,
    url('../../img/bushes.png')!important,
    url('../../img/back1.png')!important;
  background-color: #001031 !important;
  background-repeat:
    repeat-x,
    repeat-x,
    repeat-x !important;
  background-position:
    left 30% bottom $groundHeight,
    left 0px bottom 0px,
    left 0px bottom $groundHeight,
    left 0px bottom 0px;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position:
      left 30% bottom $groundHeight,
      left 0px bottom 0px,
      left 0px bottom $groundHeight,
      left 0px bottom 0px;
  }

  50% {

  background-position:
      left 50% bottom $groundHeight,
      left (-($groundWidth * 12)) bottom 0px,
      left (-($bushesWidth * 1)) bottom $groundHeight,
      left (-($backWidth / 2)) bottom 0px;
  }

  100% {
    background-position:
      left 30% bottom $groundHeight,
      left (-($groundWidth * 24)) bottom 0px,
      left (-($bushesWidth * 2)) bottom $groundHeight,
      left (-$backWidth) bottom 0px;
  }
}