.joincreate {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 50px 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	top: 0;
}

.enterName {
	background-color: #ffffff5a;
	border: none;
	margin: 0;
	box-sizing: border-box;
	padding: 50px 100px;
	margin: 100px 100px;
}
