.Timer {
    visibility: visible;

}

.round-time-bar{
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* margin-left: auto;
    margin-right: auto; */
    /* background-color: red; */
}

.h2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.timerCounter{
    width: 100%;
    color: red;
}

.TL{
    margin: 0;
    padding: 0;
}

.textContainer{
background: #000000;
}

#countdown {
    width: 30%;
}
