.waiting-message{
    grid-area: waiting;
}

.waiting{
    display: flex;
    margin-bottom: 5vh;
    gap: 10px;
    
}
.codestuff{
    margin-bottom: 10px;
}
.codebtn{
    background-color: #025d1b; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 440px;
    align-self: center;
    border: 4px dashed rgb(211, 214, 0);
    margin-top: 10px;
}
.start-game-find{
    background-color: #890b0b; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    align-self: center;
    border: 4px dashed rgb(211, 214, 0);
}